l{
    list-style-type: none;
}
li{
    display: inline;
    padding: 80px;
    font-size: large;
    
}
.v1{
    background-color: rgba(248, 247, 248, 0.644);
    border: 2px solid rgb(56, 54, 54);
}
.oo{
    position: absolute;
    top: 0.6rem;
    float: left;
    width: 68px;
    margin-top: 0px;
    padding-top: 0px;
    border: 1px solid black;
}
.about{
    text-align: center;
    background-color: rgb(97, 97, 97);
}
h2{
    margin-top:4%;
}
h4{
    float: left;
    margin: 1%;
    padding-left: 0%;
    padding-right: 50%;
    text-align: justify;
}
.v3{
    width: 350px;
    height: 200px;
    float: right;
    position: absolute;
    left: 56rem;
    top: 57.6rem;
}
.serv{
    text-align: center;
    background-color: rgb(97, 97, 97);
}
.del2{
    float: right;
    position: absolute;
    right: 5rem;
    top: 78rem;
}
.del3{
    position: absolute;
    right: 34rem;
    width: 275px;
    height: 183px;
    top: 78rem;
}
.deli{
    position: absolute;
    top: 78rem;
}
.con{
    text-align: right;
    position: absolute;
    top: 89rem;
    right: 0rem;
    text-decoration: underline;
    margin: 3%;
}
.van{
    position: absolute;
    text-align: center;
    top: 100rem;
}
.prod{
    top: 93rem;
    position: absolute;
    right: 38rem;
    background-color: rgb(97, 97, 97);
    width: 97%;
    text-align: center;
    left: 0.7rem;
}
.cll{
    position: absolute;
    top:103rem;
    right:50rem;
    width: 300px;
}
.clk{
    position: absolute;
    top: 103rem;
    right: 20rem;
    width: 300px;
}
.for{
    position: absolute;
    top: 130rem;
    background-color: rgb(97, 97, 97);
    width: 100%;
    text-align: center;
}
.me{
    position: absolute;
    top: 147rem;
    width: 100%;
    background-color: rgb(97, 97, 97);
    text-align: center;
    margin: 1.5%;
    padding: 2%;
}
button{
    padding: 0.5%;
}